#========================================================
#ACCESO DENEGADO
#=========================================================

    Options All -Indexes

#========================================================
#URL AMIGABLES
#=========================================================

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?view=$1 [L]

#========================================================
#BLOQUEAR ARCHIVOS 
#=========================================================

    <FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|txt)$">
        Require all denied
    </FilesMatch>

#========================================================
#ARCHIVOS BLOQUEADOS
#=========================================================

    RewriteCond %{REQUEST_URI} ^.*/config.*$
    RewriteRule .*$ ./404

    RewriteCond %{REQUEST_URI} ^.*/lib.*$
    RewriteRule .*$ ./404

    RewriteCond %{REQUEST_URI} ^.*/resources.*$
    RewriteRule .*$ ./404

    RewriteCond %{REQUEST_URI} ^.*/routes.*$
    RewriteRule .*$ ./404

    RewriteCond %{REQUEST_URI} ^.*/core.*$
    RewriteRule .*$ ./404

    RewriteCond %{REQUEST_URI} ^.*/app.*$
    RewriteRule .*$ ./404

